.emptyList
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  height: 100%
  width: 100%
  gap: 10px

.emptyList__title
  display: flex
  flex-direction: column
  text-align: center

.emptyList__subtitle
  color: aliceblue

.emptyList__icon
  width: 100px
