@import "../../../../styles/colors.module"
@import "../../../../styles/mixins.module"

.productCard
  display: flex
  flex: 1 1 250px
  flex-direction: column
  align-items: center
  height: auto


.productCard__image
  width: 100%
  border-radius: 6px
  margin-bottom: 10px

.productCard__title
  width: 100%
  height: 55px
  white-space: pre-line
  text-overflow: ellipsis
  margin: 0

  display: -webkit-box
  -webkit-line-clamp: 2
  -webkit-box-orient: vertical
  overflow: hidden


.productCard__priceContainer
  @include numberContainer
